<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center" style="position:relative;top:50px">
    <p>工业APP分类分级系统</p>

</div>
<form name="func1" action="/submit" class="text-info">
<div align="center" style="position:relative;top:70px">
    <button style="width:100px;height:50px;">提交材料</button>
</div>
</form>
<form name="func2" action="/result" class="text-info">
<div align="center" style="position:relative;top:100px">
    <button style="width:100px;height:50px;">查看结果</button>
</div>
</form>
<div align="center" style="position:relative;top:130px">
    <button onclick="location='http://localhost:8080/hello'" style="width:100px;height:50px;">退出登录</button>
</div>
</body>
</html>